.container{
    height: 1200px;
    width: 22%;
    background-color: #fff;
}
.dashboard{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.dashboard h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 30px;
    font-size: 20px;
    font-weight: bold;
}
.gauge__high{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.menubar{
    margin: 30px 0px 0px 30px;
    font-size: 20px;
}
.menubar div{
    margin: 15px 0px 0px 50px;
}
.menubar .title{
    margin-left: 0px;
    display: flex;
    align-items: center;
}
.title span{
    display: block;
    width: 30px;
}
.title h1{
    margin-left: 20px;
}